$headers-font: "Advent Pro", sans-serif;
$body-font: Montserrat, sans-serif;
$primary-light-color: #333;
$primary-dark-color: #fff;
$xs-title-font-size: 2.4rem;
$xs-subtitle-font-size: 1.2rem;
$sx-body-font-size: .96rem;
$md-title-font-size: 3.2rem;
$md-subtitle-font-size: 1.6rem;
$md-body-font-size: .98rem;
$lg-title-font-size: 4rem;
$lg-subtitle-font-size: 2rem;
$lg-body-font-size: 1rem;

html {
    scroll-behavior: smooth;
}

p {
    line-height: 1.5;
    font-family: $body-font;
}

.navbar-dark {
    background-color: $primary-light-color;
    color: $primary-dark-color;

    a {
        color: $primary-dark-color;
    }

    a:hover {
        color: red;
    }
}

.navbar-transparent {
    background-color: transparent;
    color: $primary-light-color;

    a {
        color: $primary-dark-color;
    }
}

.display-flex {
    display: -ms-flexbox !important;
    display: flex !important;
    flex: 0 1 auto;
}

.flex-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}

.justify-content-space-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

.text-center {
    text-align: center;
}

.primary-btn-light {
    padding: 1rem 2rem;
    background-color: transparent;
    color: #fff;
    font-family: $body-font;
    font-weight: 600;
    border: 2px solid #fff;
    border-radius: 0;
    font-size: 1.2rem;
    transition: cubic-bezier(0.47, 0, 0.745, 0.715) 0.3s;

    &:hover {
        cursor: pointer;
        background-color: #fff;
        color: $primary-light-color;
        box-shadow: 2px 4px 2px 2px rgba(0, 0, 0, 0.418);
    }
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    word-wrap: break-word;
    border: 1px solid $primary-light-color;
    border-radius: 0.25rem;

    .card-img-top {
        display: block;
        width: 100%;
        border-top-left-radius: calc(0.25rem - 1px);
        border-top-right-radius: calc(0.25rem - 1px);
    }

    .card-body {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;

        .card-title {
            margin-bottom: 0.75rem;
            font-size: 1.5rem;
            text-align: left;
            letter-spacing: 1px;
            font-family: $headers-font;
            margin-top: 0;
        }

        .card-text {
            font-family: $body-font;
            text-align: justify;
        }
    }
}
