@import "base";
body {
    font: 100% $body-font;
    color: $primary-light-color;
    padding: 0;
    margin: 0;
}

nav {
    padding: 1.2rem 2rem;
    a {
        float: left;
        display: block;
        padding: 0.6rem 2rem;
        text-decoration: none;
        transition: cubic-bezier(0.47, 0, 0.745, 0.715) 0.3s;
        &.navbar-link {
            text-transform: uppercase;
            font-size: 1rem;
            letter-spacing: 1px;

            &.active {
                border-bottom: 2px solid white;
                &:hover {
                    background-color: transparent;
                }
            }

            &:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
    }

    a.icon {
        display: none;
        padding: 10px 12px;
        border: 1px solid #fff;
        border-radius: 8px;
    }
}

#hero {
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    background: white url("images/hero.jpg") center/cover no-repeat;
}

#hero::-webkit-scrollbar {
    display: none;
}

.titles-container {
    width: 100%;
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#title {
    color: $primary-dark-color;
    font-size: 4rem;
    font-family: $headers-font;
    margin-top: 1rem;
    margin-bottom: 0;
}

#subtitle {
    color: $primary-dark-color;
    font-size: 2rem;
}

#action-btn {
    display: inline-block;
    text-decoration: none;
    margin: 2rem auto;
}

#main-container {
    min-width: 200px;
    max-width: 920px;
    margin: 0 auto;
}

@media screen and (max-width: 720px) {
    nav {
        padding: 14px 16px;
        max-width: 150px;
        float: right;

        a {
            display: none;
        }

        a.icon {
            float: right;
            display: block;
        }

        &.responsive {
            position: relative;

            a {
                float: none;
                display: block;
                text-align: right !important;
                padding: 0.2rem 2rem;
                padding-right: 0;
                margin-bottom: 15px;
                &:first-child {
                    margin-top: 55px;
                }
            }
            .icon {
                position: absolute;
                right: 0;
                top: 0;
                margin: 14px 16px;
                padding: 10px 12px;
            }
        }
    }

    .titles-container {
        top: 50%;
    }
}

@media screen and (max-width: 453px) {
    nav {
        padding: 14px 16px;
        a.navbar-link {
            font-size: 14px;
        }
    }
}

$intro-padding-top: 30px;
/*INTRO*/
#intro-content-container {
    padding-top: $intro-padding-top;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    img {
        float: left;
        width: 500px;
        max-width: 500px;
        margin-right: 15px;
    }
}
#intro-text {
    padding: 0 1rem;
    #intro-title {
        font-size: $lg-title-font-size;
        font-family: $headers-font;
        text-align: left;
        margin: 0;
    }
    p {
        text-align: justify;
    }
}

#intro-subtitle {
    font-family: $headers-font;
    font-size: $lg-title-font-size;
    padding-top: $intro-padding-top;
    margin: 0;
}

#intro-grid-container {
    padding-top: $intro-padding-top;
    display: grid;
    row-gap: 0;
    column-gap: 0;
    grid-template-columns: auto auto auto;
    .grid-column {
        text-align: center;
        img {
            width: 100%;
        }
        h5 {
            font-size: 1em;
        }
    }
}

@media screen and (max-width: 991px) {
    #intro-content-container {
        text-align: center;
        padding-top: 15px;
        img {
            float: none;
            width: 80%;
            display: inline-block;
            margin: 0 auto;
            max-width: 100%;
        }
        #intro-title {
            text-align: center;
            padding-top: 15px;
        }
    }
}

@media screen and (max-width: 945px) {
    #intro-grid-container {
        display: block;

        .grid-column {
            img,
            h5,
            p {
                width: 80%;
            }
            h5,
            p {
                margin-left: auto;
                margin-right: auto;
            }
            p {
                margin-bottom: 32px;
            }
        }
    }
}

@media screen and (max-width: 643px) {
    #title {
        font-size: $xs-title-font-size;
    }
    #subtitle {
        font-size: $xs-subtitle-font-size;
    }
    #intro-grid-container {
        display: block;

        .grid-column {
            img,
            h5,
            p {
                width: 100%;
            }
        }
    }
    #intro-content-container {
        margin-top: 17px;
        img {
            width: 100%;
        }
        #intro-title {
            font-size: $xs-title-font-size;
        }
        #intro-subtitle {
            font-size: $xs-title-font-size;
        }
    }
}
