@import "base";
body {
    font: 100% $body-font;
    color: $primary-light-color;
    padding: 0;
    margin: 0;
}

nav {
    padding: 1.2rem 2rem;
    a {
        float: left;
        display: block;
        padding: 0.6rem 2rem;
        text-decoration: none;
        transition: cubic-bezier(0.47, 0, 0.745, 0.715) 0.3s;
        &.navbar-link {
            text-transform: uppercase;
            font-size: 1rem;
            letter-spacing: 1px;

            &.active {
                border-bottom: 2px solid white;
                &:hover {
                    background-color: transparent;
                }
            }

            &:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
    }

    a.icon {
        display: none;
        padding: 10px 12px;
        border: 1px solid #fff;
        border-radius: 8px;
    }
}

#hero {
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    background: white url("images/hero.jpg") center/cover no-repeat;
}

#hero::-webkit-scrollbar {
    display: none;
}

.titles-container {
    width: 100%;
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#title {
    color: $primary-dark-color;
    font-size: 4rem;
    font-family: $headers-font;
    margin-top: 1rem;
    margin-bottom: 0;
}

#subtitle {
    color: $primary-dark-color;
    font-size: 2rem;
}

#main-container {
    min-width: 200px;
    max-width: 920px;
    margin: 0 auto;
}

@media screen and (max-width: 720px) {
    nav {
        padding: 14px 16px;
        max-width: 150px;
        float: right;

        a {
            display: none;
        }

        a.icon {
            float: right;
            display: block;
        }

        &.responsive {
            position: relative;

            a {
                float: none;
                display: block;
                text-align: right !important;
                padding: 0.2rem 2rem;
                padding-right: 0;
                margin-bottom: 15px;
                &:first-child {
                    margin-top: 55px;
                }
            }
            .icon {
                position: absolute;
                right: 0;
                top: 0;
                margin: 14px 16px;
                padding: 10px 12px;
            }
        }
    }

    .titles-container {
        top: 50%;
    }
}

@media screen and (max-width: 453px) {
    #title {
        font-size: $xs-title-font-size;
    }
    #subtitle {
        font-size: $xs-subtitle-font-size;
    }
    nav {
        padding: 14px 16px;
        a.navbar-link {
            font-size: 14px;
        }
    }
}
